@model ShoppingCartViewModel


@if (!Model.Products.Any()) { 

    <div class="w-100 h-100 d-flex justify-content-center align-items-center ">
        <p>Your Shopping Cart Is Empty.</p>
    </div>

}