@model ProductViewModel

@{
    ViewBag.isShowingDetails = true;
    ViewBag.CardHeaderFlex = "Header-Row";
}

<div class="row">
    <div class="col-12 w-100">
        <partial name="_ProductPartial.cshtml" model="@Model" />
    </div>

</div>

<div id="Review-container">

    <h2>Reviews</h2>




</div>


@section Scripts {
    <script type="text/javascript" src="~/js/Review.js"></script>
}



<div class="stars-container-test">
    <i class="far fa-star review-star" data-star_number="1"></i>
    <i class="far fa-star review-star" data-star_number="2"></i>
    <i class="far fa-star review-star" data-star_number="3"></i>
    <i class="far fa-star review-star" data-star_number="4"></i>
    <i class="far fa-star review-star" data-star_number="5"></i>
</div>