@model ProductViewModel

@{ 
    ViewBag.isShowingDetails = true;
    ViewBag.CardHeaderFlex = "Header-Row";
}

<div class="row">
    <div class="col-12 w-100">
        <partial name="_ProductPartial.cshtml" model="@Model" />
    </div>

</div>

<div id="Review-container">

    <h2>Reviews</h2>




</div>