@model IEnumerable<ProductViewModel>

<div class="row mb-4 justify-content-end">
    <a asp-controller="Product" asp-action="Create" class="btn btn-success">Add Product <i class="fas fa-plus"></i></a>
</div>

<div class="row justify-content-around">
    @foreach (var product in Model)
     {
        <partial name="_ProductPartial.cshtml" model="product" />
     }
</div>