@model IEnumerable<ProductViewModel>


<div class="row justify-content-around">
    @foreach (var product in Model)
     {
        <partial name="_ProductPartial.cshtml" model="product" />
     }
</div>