@model IEnumerable<ProductViewModel>


<div class="row mb-4 justify-content-between align-items-center">
    <h1>@ViewBag.CategoryName</h1>
    <a asp-controller="Product" asp-action="Create" class="btn btn-success">Add Product <i class="fas fa-plus"></i></a>
</div>

<div class="row justify-content-around">
    @foreach (var product in Model)
    {
<partial name="/Views/Product/_ProductPartial.cshtml" model="product" />}
</div>